# .gitignore
venv
.env
.idea
__pycache__
config.ini
*.json
*.html
*.jpg
*.png
*.gif
*.txt
*.log
*.md
geckodriver.log
testing_code.py
build
dist
NicheRipper.spec
cookies.pkl
NicheImageRipper.rar
.vscode
Rips

# Don't ignore
!Wiki/*.md