# .gitignore
venv
.env
.idea
__pycache__
config.ini
*.json
*.html
*.jpg
*.png
*.gif
*.txt
*.log
geckodriver.log
test_code.py
build
dist
NicheRipper.spec
cookies.pkl
file_compressor.py
NicheImageRipper.rar
.vscode
wiki_page_formatter.py