beautifulsoup4>=4.9.3
Pillow>=8.1.0
PySimpleGUI>=4.33.0
requests>=2.25.1
selenium>=3.141.0
urllib3>=1.26.2
bs4~=0.0.1
tldextract~=3.1.0
natsort~=7.1.1
pytest~=7.1.1
six~=1.16.0
cryptography>=38.0.3
certifi>=2022.12.07
aiohttp~=3.8.1
cffi~=1.15.1
pyparsing~=3.0.9
idna~=3.3
PyQt5~=5.15.7
pathlib~=1.0.1
configparser~=5.1.0
Pybooru~=4.2.2